@charset "utf-8";
/* CSS Document 
*  -------------------------------
*  Created by: wimpykatana
*  website: wimpykatana.com
*
*/

/* reset css
*
*******************************/
@import url("-/css/reset.css");


/* core css
*
*******************************/
@import url("-/css/core.css");

/* Global css
*
*******************************/
::selection {
	background: #eac06e; /* Safari */
	color: white;
	}
::-moz-selection {
	background: #eac06e; /* Firefox */
	color: white;
}

/* remove outline chorme */
textarea:focus,
button:focus,
select:focus,
input:focus {
	outline: 0 !important;
}
